<!--###MAIN-VIEW###-->



<!--INCLUDE-NAVBAR-COMPONENT-->
<%- include('../Components/Custom/HOME/component.nav-bar-home.ejs') %>
<!--/INCLUDE-NAVBAR-COMPONENT-->


<div class="w3-animate-opacity slider-box">

        <!--INCLUDE-CUSTOM-BANNER-INTRO-COMPONENT-->
        <%- include('../Components/Custom/HOME/component.banner-home.ejs') %>
        <!--/INCLUDE-CUSTOM-BANNER-INTRO-COMPONENT-->

</div>

<div class="w3-animate-opacity">

        <!--INCLUDE-CUSTOM-ABOUT-COMPONENT-->
        <%- include('../Components/Custom/HOME/component.about-home.ejs') %>
        <!--/INCLUDE-CUSTOM-ABOUT-COMPONENT-->

</div>

<div class="w3-animate-opacity">

        <!--INCLUDE-CUSTOM-TEAM-COMPONENT-->
        <%- include('../Components/Custom/HOME/component.team-home.ejs') %>
        <!--/INCLUDE-CUSTOM-TEAM-COMPONENT-->

</div>


<!--INCLUDE-FOOTERBAR-COMPONENT-->
<%- include('../Components/Custom/HOME/component.footer-bar-home.ejs') %>
<!--/INCLUDE-FOOTERBAR-COMPONENT-->